.first{
    border: dotted 3px blue;
    margin: 10px;
    }   
.please{
    margin-left: 10px;
}
.no{
    margin-left: 10px;
    color: blue;
}
.second{
    margin-left: 10px;
    border: solid blue;
    background-color: blue;

}